<h1>About Us</h1>

<p>
A machine-learning engineer has harnessed a powerful machine-learning technology to develop a web application that lets you create images of fake pocket monsters. The results are hilarious, and I love how simple the tool is.

Liam Eloie, who works in machine learning, published the “Nokémon” generator back in January. Eloie was inspired by BuzzFeed data scientist Max Woolf, who last December forced an AI bot to create weird-looking Pokémon. Eloie did something similar, but instead of just sharing the results after the fact, he fine-tuned the process so that you too can create fake monsters.

According to a January blog post, Eloie detailed the technical wizardry that went into the Nokémon generator. It sounds complicated, but essentially, the AI program DALL-E, which creates images from text descriptions, was trained on a dataset of all Pokémon and their attribute types, and used its accrued knowledge to spit out a legion of strange new ones. Now, in the web app Generate Fakémon using AI, you can specify a base Pokémon or element and it’ll show you a fitting example from its ever-expanding menagerie of strange-looking pseudomons.
</p>

